# Build
target/
build/

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.factorypath
.vscode/
*.swp
*.swo
*~
.attach_pid*

# OS
.DS_Store
Thumbs.db

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Logs
*.log
logs/

# Runtime
hs_err_pid*
replay_pid*
